body{
	font-family: 'Noto Sans TC', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

